html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="My musings on web development")
        meta(name="keywords" content="HTML, CSS, JavaScript")
        <meta name="author" content="Arun Kumar Kadari">
        title Web Musings
        style 
            include index.css 
    body
        div.blog-layout
            include ./layout.pug