header
    h1 Web Musings
aside
    h3 Posts
    .sidebar-post-links
        a(href='home') Home
        a(href='a-simple-webpage-layout-using-css-grid') A simple webpage layout using CSS grid
main
    | !{postContent}
footer 
    h3 Thank you 